@import url("https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script&family=Inter:wght@300&family=Nanum+Myeongjo:wght@700&display=swap");

.trend {
  background-image: url(../../assets/playerBg.jpg);
  font-family: "Borel", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Nanum Myeongjo", serif;
}
